/* layout */
.wrapper{width:100%}
.header{margin:0 auto}
.container{padding:0 5px 0 5px;text-align:center}
.footer{margin-top:20px;text-align: center}

/* header */
.header .util{height:20px}
.header .logo{text-align:center}

/* footer */
.ui-panel-msg{margin:0 auto;}

/* install */
.container .article-box{margin-bottom:20px;padding:40px 20px 30px 20px;background-color:#fcfcfc;text-align:left}
.container .article-box p{padding-top:7px;padding-bottom:7px}
.container .article-box h1{font-size: 1.250em;font-weight: bold}
.container .article-box ul{width:100%;border:1px solid #e3e3e3;}
.container .article-box ul li{padding:7px 10px 7px 10px;line-height: 20px;}
.container .article-box input{width:100%;}
.container .btn-submit{margin-top: 20px}


