<table name="menu">
  <!-- essential -->
  <column name="id" type="int" notnull="not null" auto_increment="auto_increment" primary_key="primary key" />
  <column name="category" type="varchar" size="120" notnull="not null"/>  
  <column name="name" type="varchar" size="50" notnull="not null"/>
  <column name="url" type="varchar" size="120"/>  
  <column name="date" type="datetime"/>
</table>