/* layout */
.sx-wrapper{
  width:100%;
}
.sx-header{
  display: inline-block;
  width:100%;
  text-align: center;
}
.sx-container{
  margin:0 auto;
  padding:0 5px 0 5px;
  max-width: 768px;
  text-align:center;
}
.sx-footer{
  margin-top:55px;
  padding-top:15px;
  height: 60px;
  text-align: center;
  background-color: #333;
}
.sx-footer,
.sx-footer a{
  font-size: 0.9375em;
  color:#c3c3c3;
}

/* header */
.header .logo{
  text-align:center;
}

/* footer */
.ui-panel-msg{
  margin:0 auto;
}

/* install */
.sx-container .uninstall_box,
.sx-container .terms_box{
  margin-bottom:20px;
  padding:40px 20px 30px 20px;
  background-color:#fcfcfc;
  text-align:left;
}
.sx-container .terms_box p{
  padding-top:7px;
  padding-bottom:7px;
}
.sx-container .uninstall_box h1,
.sx-container .terms_box h1{
  font-size: 1.5em;
  margin-bottom: 30px;
  font-weight: bold;
}
.sx-container .terms_box ul{
  width:100%;
  border:1px solid #e3e3e3;
}
.sx-container .terms_box ul li{
  padding:7px 10px 7px 10px;
  line-height: 20px;
}
.sx-container .terms_box input{
  width:100%;
}
.sx-container .sx-btn{
  margin-top: 20px;
}

.sx-container .uninstall_box form[name=f_setup_db] {
  margin-top:55px;
}
.sx-container .uninstall_box legend{
  font-size: 1.250em;
}
.sx-container .uninstall_box label{
  font-weight: normal;
}
.sx-container .uninstall_box label span{
  color: #f00;
}
.sx-container .uninstall_box .btn_group_panel{
  text-align: center;
}
.sx-container .uninstall_box input[name=btn_cancel]{
  margin-left: 5px;
}
