/* layout */
.sx-wrapper{
  width:100%;
}
.sx-header{
  display: inline-block;
  width:100%;
  text-align: center;
}
.sx-container{
  margin:0 auto;
  padding:0 5px 0 5px;
  max-width: 768px;
  text-align:center;
}
.sx-footer{
  margin-top:55px;
  padding-top:15px;
  height: 60px;
  text-align: center;
  background-color: #333;
}
.sx-footer,
.sx-footer a{
  font-size: 0.9375em;
  color:#c3c3c3;
}

/* header */
.header .logo{
  text-align:center;
}

/* footer */
.ui-panel-msg{
  margin:0 auto;
}

form[name=f_setup_db],
form[name=f_setup_admin],
form[name=f_uninstall_db] {
  position: relative;
  text-align: left;
}

.setup_db input::placeholder ,
.admin_setup input::placeholder ,
.uninstall_box input::placeholder {
  color: #bebebe;
  font-style: italic;
}

/* install */
.terms_box{  
  text-align: left;  
  line-height: 1.875em;
}
.terms_box ul.rules_header{
  padding-left: 10px;
}
.terms_box ul.rules_header li span.rules_header_title,
.terms_box ul.rules_header li span.rules_header_spec{
  display: inline-block;  
  vertical-align: top;
}
.terms_box ul.rules_header li span.rules_header_title{
  position: relative;  
  width:100px;
}
.terms_box ul.rules_header li span.rules_header_name{
  letter-spacing: 3px;
}
.terms_box ul.rules_header li span.rules_header_ver,
.terms_box ul.rules_header li span.rules_header_website{
  letter-spacing: 8px;
}
.terms_box ul.rules_header li span.rules_header_developer,
.terms_box ul.rules_header li span.rules_header_email{
  letter-spacing: 18px;
}
.terms_box ul.rules_body{
  padding-left: 25px;
}
.terms_box ul.rules_body li{
  padding:7px 10px 7px 10px;
  list-style: decimal;
}
.terms_box ul.rules_body .text_danger{
  color: #d03;
}
.terms_box,
.setup_db,
.admin_setup,
.uninstall_box{
  margin-bottom:20px;
  padding:40px 25px;
  background-color:#fcfcfc;
  word-break: keep-all;
}
.terms_box p{
  padding-top:7px;
  padding-bottom:7px;
}

.terms_box h1,
.setup_db h1,
.admin_setup h1,
.uninstall_box h1{
  font-size: 2em;
  margin-bottom: 55px;
  font-weight: bold;
  text-align: center;
}
.terms_box input.sx-form-control,
.setup_db input.sx-form-control,
.admin_setup input.sx-form-control{
  width:100%;
}
a.sx-btn,
input.sx-btn{
  margin-top:20px;  
  padding:10px 0;
  width:100%;
}
.uninstall_btn_group{
  text-align: center;
}
.uninstall_btn_group input.sx-btn,
.uninstall_btn_group a.sx-btn{
  padding:10px 0;
  width:100%;
}
.uninstall_btn_group a.sx-btn{
  margin-top:3px;
}

form[name=f_setup_db] {
  position: relative;
}
.uninstall_box legend{
  font-size: 1.250em;
}
.uninstall_box label{
  font-weight: normal;
}
.uninstall_box label span{
  color: #f00;
}
.uninstall_box .btn_group_panel{
  text-align: center;
}
.uninstall_box a[name=btn_cancel]{
  margin-left: 5px;
}

@media (min-width: 768px) {
  
  .terms_box label.sx-control-label,
  .setup_db label.sx-control-label,
  .admin_setup label.sx-control-label{
    text-align: right;
    width: 25%;
  }

  .terms_box input.sx-form-control,
  .setup_db input.sx-form-control,
  .admin_setup input.sx-form-control{
    display: inline-block;
    margin-left: 10px;
    width: 50%;
  }
  a.sx-btn{
    width:100px;
  }
  input.sx-btn {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width:100px;
  }
  .uninstall_btn_group{
    margin-top: 45px;
  }
  .uninstall_btn_group input.sx-btn,
  .uninstall_btn_group a.sx-btn{
    margin-top:0;  
    margin-left: 0;    
    width:100px;

    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);   
  }
  .uninstall_btn_group a.sx-btn{
    margin-top:0;
  }
}