/* layout */
.footer{font-size:0.875em;line-height:45px;text-align: center;background-color:#3e3e3e;color:#fff}
.footer a{color:#fff;}

/* header */
.header .util{display:none;height: 20px}
.header .logo{float:left}

/* gnb_icon */
.gnb-icon{overflow:hidden;position:relative;background:url("../images/gnb_icon_bg.png") 0 0 repeat-x}
.gnb-icon ul li{float:left;position:relative;height:72px}
.gnb-icon ul li .g-arrow{position:absolute;top:-80px;z-index:1;width:100%;height:75px;background:url("../images/gnb_icon_arrow.png") 50% 0 no-repeat,#404140}
.gnb-icon ul li .g-icon{position:absolute;top:0;z-index:2;width:100%;height:75px;background:url("../images/gnb_icon.png") 50% 0 no-repeat}

/* gnb */
.mobile-menu{float:right;height:50px}
.mobile-menu .mobile-btn{margin:19px 10px 0 0;width:20px;}
.mobile-menu .mobile-btn .btn-hline1{background:#333333;height:2px}
.mobile-menu .mobile-btn .btn-hline2{background:#333333;height:2px;margin-top:4px;}

.gnb-case{clear:both;position:relative;height:50px}
.gnb{position:absolute;width:100%}
.gnb .mmenu{float:left;height:50px;line-height:50px;text-align:center;background-color:#3b3c3b}
.gnb .mmenu a{text-decoration:none}
.gnb .mmenu span{display:block;width:100%;height:50px;color:#FFFFFF;font-size:1.0625em}
.gnb .activate{background-color:#404140}
.gnb .activate a span{color:#FFFFFF}

.gnb .sub{overflow:hidden;height:0}
.gnb .sub .panel{position:relative;top:0}
.gnb .sub .smenu{width:100%;border-bottom:1px solid #FFFFFF;text-align:left;line-height:34px;background-color:#EFEFEF}
.gnb .sub .smenu:last-child{border-bottom:none}
.gnb .sub .smenu span{display:block;padding-left:13%;height:34px;color:#333333;font-size:1em}
.gnb .sub .activate{background-color:#999999}
.gnb .sub .activate a span{color:#FFFFFF}

/* navi */
.ui-navi-show{display:inline-block}
.ui-navi-hide{display:none}
.ui-navi{overflow:hidden;margin-top:10px;margin-bottom:5px}
.ui-navi .ui-navi-prev,.ui-navi .ui-navi-next,.ui-navi .ui-navi-list{float:left;padding:0 5px 0 5px}
.ui-navi ol li{float:left;padding:0 2px 0 2px}
.ui-navi ol li a span{display:inline-block;min-width: 16px;height:20px}
.ui-navi .activate{color:#FF0000}

