.sx_menu_admin li .btn_style_none{
  padding-left:5px;
  padding-right: 5px;
  background-color:transparent;
  outline: none;
  border:0 solid transparent;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;  
}

.sx_menu_admin .btn_style_none.active,
.sx_menu_admin .btn_style_none:focus,
.sx_menu_admin .btn_style_none:active:focus,
.sx_menu_admin .btn_style_none.active:focus,
.sx_menu_admin .btn_style_none.focus,
.sx_menu_admin .btn_style_none:active.focus,
.sx_menu_admin .btn_style_none.active.focus{
  border:0 solid transparent;
  outline: thin dotted;
  outline: 0;
  outline-offset: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sx_menu_admin .word-keep-all {
  word-break: keep-all;
}

.sx_menu_admin .menues ul.list-group {
  width:100%;
  margin-bottom: 0;
}

.img_loader{
  position: absolute;
  top:50%;
  left: 50%;
  width:120px;
  -webkit-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
}