/* header pannel setting start */
.sx-menu-panel .sx-box-content{
  position: relative;
  padding:0 0;
  border: 1px solid #ddd;
}
.sx-header-panel h2{
  display: inline-block;
  font-size: 1.125em;
  -webkit-text-shadow: 0 1px 0 #fff;
  -o-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
}
/* header pannel setting end */

.sx-box-content header .xi-info-o {
  position: absolute;
  font-size: 1.5em;
}
.sx-box-content header .description{
  margin-left:25px;
}

/* swiper start */
.swiper_container_wrapper_list,
.swiper_container_draggable_edit{
  position: relative;
  height:280px; 
}
.swiper_container_wrapper_tree{
  position: relative;
  height:280px; 
}
.swiper_container_item_list,
.swiper_container_draggable_list,
.swiper_container_draggable_edit{
  height:100%;
}
.swiper-slide {
  width:100%;
  height: auto;
}
/* swiper end */

/* list */
.sx_plugin_panel .sx-header-panel .sx-btn-group{
  float: right;
  top:6px;
}
.sx_plugin_panel .sx-header-panel .sx-btn-group .sx-btn{
  margin-right: 5px;
  padding:4px 8px;
  border:1px solid #bebebe;  
  font-size: 0.875em;

  -webkit-box-shadow: 1px 1px 1px #fff;
  -o-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
}
.sx_plugin_panel .sx-header-panel .sx-btn-group button[name=save_json],
.sx_plugin_panel .sx-header-panel .sx-btn-group button[name=edit_seleced_menu]:focus{
  color: #3e3e3e;
  background-color: #f3f3f3;
  border-color: #c3c3c3;
  text-decoration: none;
}

.sx_plugin_panel .sx-header-panel .sx-btn-group button[name=edit_seleced_menu] .editing_label{
  display: inline;
}
.sx_plugin_panel .sx-header-panel .sx-btn-group button[name=edit_seleced_menu] .edited_label{
  display: none;
}
.sx_plugin_panel .sx-header-panel .sx-btn-group button[name=edit_seleced_menu].sx-btn-active .editing_label{
  display: none;
}
.sx_plugin_panel .sx-header-panel .sx-btn-group button[name=edit_seleced_menu].sx-btn-active .edited_label{
  display: inline;
}
.sx_plugin_panel .sx-header-panel .sx-btn-group button[name=save_json]{
  display: none;
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.sx_plugin_panel .sx-header-panel .sx-btn-group button[name=save_json].sx-btn-active{
  display: inline-block;
}

.menu_list_panel {
  position: relative;
  padding: 10px 0;
}
.menu_list_panel li {
  position: relative;
  width:100%;
  background-color: #fff;
}
.menu_list_panel li a{
  display: inline-block;
  text-decoration: none;
}
.menu_list_panel li a:hover{
  color: #9e9e9e;
}
.menu_list_panel li i {
  font-size: 1.125em;
}
.menu_list_panel li .sx-btn-group {
  position: absolute;
  top:7px;
  right: 0;
  margin-right:10px;
}
.menu_list_panel li .sx-btn-group > a,
.menu_list_panel li .sx-btn-group > button{
  padding: 5px 10px;
}
.menu_list_panel li .sx-btn-group > a:hover {
  color:#fff;
}

.selected_menu_list li button[name=btn_drag],
.selected_menu_list li .sx_folder_group,
.selected_menu_list li .sx_name,
.selected_menu_list li a{
  position: relative; 
  vertical-align: middle;
}
.selected_menu_list li button[name=btn_drag] {
  display: none;
  top:0;
  padding: 9px 3px 3px;  
  border:1px solid transparent;
  background-color: #fff;
  cursor: move;
}
.selected_menu_list li button[name=btn_drag] > i {
  top:0;
  font-size: 1.5em;
  color: #3e3e3e;
}

.selected_menu_list li .sx_folder_group{
  display: inline-block;
  margin-left: 10px;
  padding-top: 9px;
  padding-bottom: 3px;
  border: 1px solid transparent;
}
.selected_menu_list li .sx_folder_group i {
  color: #a3d4c9;
  font-size: 1.5em;  
}
.selected_menu_list li .sx_folder_group i.xi-folder-open {
  display: none;
}

.selected_menu_list li .sx_name {
  display: inline-block;
  padding-top:2px;
}
.selected_menu_list li a{
  padding-top:5px;
}
.selected_menu_list li a i.xi-external-link {
  font-size: 1.250em;
  color: #a3a3a3;
}

.selected_menu_list li .sx-btn-group {
  display: none;
}
.selected_menu_list li .sub_mask{
  margin-top:8px;
  border: -1px solid transparent;
}
.selected_menu_list li .sub_mask ul li {
  padding-bottom: 0;
}
.addable_menu_list li .sx_text_msg,
.selected_menu_list li .sx_text_msg{
  display: inline-block;
  margin-top:-8px;
  width: 100%;
  line-height:270px;
  text-align: center;
  vertical-align: middle;
}

/* active start */
.selected_menu_list li.selected_menu_active > .sx-btn-group .btn_select{
  color: #fff;
  background-color: #333;
}
.selected_menu_list li.icon_folder_active .sx_folder_group i.xi-folder {
  display: none;
}
.selected_menu_list li.icon_folder_active .sx_folder_group i.xi-folder-open {
  display: inline-block;
}
.selected_menu_list li.item_drag_true {
  position: relative;
  z-index: 1000;
  border-bottom: 1px dashed transparent;
  -webkit-box-shadow:0 0 3px #e3e3e3;
  -o-box-shadow:0 0 3px #e3e3e3;
  box-shadow: 0 0 3px #e3e3e3; 
}
.selected_menu_list li.item_drag_true,
.selected_menu_list li.item_drag_true button,
.selected_menu_list li.item_drag_true a,
.selected_menu_list li.item_drag_true .sx-btn-group {
  cursor: move;  
}
.selected_menu_list li.selected_editing button[name=btn_drag] {
  display: inline-block;
}
.selected_menu_list li.selected_editing .sx_folder_group{
  margin-left: 0;
}
.selected_menu_list li.selected_editing .sx-btn-group {
  display: inline-block;
}
/* active end */

.draggable_action{
  margin:10px 0;
}
.draggable_action .sx-btn{
  padding:6px 26px;
  background-color: #fff;
}
.draggable_action .sx-btn:hover{
  background-color: #f3f3f3;
}
.draggable_action .sx-btn i{
  color:#c3c3c3;
  font-size: 1.5em;
  font-weight: bold;
}
.draggable_action .sx-btn i.xi-angle-left,
.draggable_action .sx-btn i.xi-angle-right{
  display: none;
}
.draggable_action .sx-btn:first-child{
  margin-right: 5px;
}
.draggable_action .sx-btn:not(:first-child){
  margin-left: 5px;
}

.addable_menu_list li {
  padding:8px 0;
}
.addable_menu_list li span{
  margin-left:10px;
}
.addable_menu_list li a {
  margin-top:-1px;
  vertical-align: middle;
}
.addable_menu_list li .sx_date{
  display: block;  
}
.addable_menu_list li .sx_date i{
  vertical-align: middle;
}
.addable_menu_list li .sx-btn-group {
  top:12px;
}
.addable_menu_list > li {
  border-top:1px solid #eee;
}
.addable_menu_list > li:first-child {
  border-top:1px solid transparent;
}

.sx-box-content footer {
  padding:10px 0;
}

/* add, modify */
.btn_check{
  width:100%;
}
.text_notice {
  padding-top: 5px;
  padding-bottom: 25px;
}
.text_caption{
  margin-top: 10px;
}
.sx_plugin_panel .sx_draggable_list{
  position: relative;
  overflow: hidden;
}
.sx_plugin_panel .sx_draggable_list .sx_sliding_box{
  position: relative;
  margin-left: 0;
  width:200%;
  clear:both;

  -webkit-transition: all ease-out 0.25s;
  -o-transition: all ease-out 0.25s;
  transition: all ease-out 0.25s;
}
.sx_plugin_panel .sx_draggable_list .sx_sliding_box_active{
  margin-left: -100%;
}

.sx_plugin_panel .sx_draggable_list .sx_sliding_box .sx_menu{
  display: inline-block;
  position: relative;  
  width:50%;
  vertical-align: top;  
}
.sx_plugin_panel .sx_draggable_list .sx_sliding_box .sx_menu_info {
  position: absolute;
  left:50%;
  z-index: 100;
  background-color: #fff;
}
.sx_plugin_panel .sx_draggable_list .sx_menu_info form {
  padding-top:20px;
}
.sx_plugin_panel .sx_draggable_list .sx_menu_info .sx-form-group{
  padding:0 5px;
}

/* common */
.sx-contents .sx-box-content .btn_group{
  padding-top: 10px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {

  .label_width{
    padding-right: 10px;
    text-align: right;
    width:100px;
  }

  .sx_plugin_panel{
    display: inline-block;
    width:50%;
    margin:0 -2px;
    vertical-align: top;
  }
  .sx_plugin_panel .sx_item_list{
    margin-left: 30px;
  }
  .sx_plugin_panel .sx_draggable_list{
    margin-right: 30px;
  }
  .sx_plugin_panel .sx_draggable_list .sx_menu_info .sx-form-group{
    padding-right: 125px;
  }
  .sx_plugin_panel .sx_draggable_list .sx_menu_info .sx-form-group .sx-control-label{
    position: absolute;
    padding:5px 0;
  }
  .sx_plugin_panel .sx_draggable_list .sx_menu_info .sx-form-group .sx-form-control {
    margin-left:115px;
    width: 100%;
  }

  .draggable_action {
    position: absolute;
    top:114px;
    left:50%;
    z-index: 1;
    margin-left:-32px;
    padding-top: 100px;
    width:60px;
    height: 334px;
  }
  .draggable_action .sx-btn{
    padding:26px 6px;
  }
  .draggable_action .sx-btn i.xi-angle-left,
  .draggable_action .sx-btn i.xi-angle-right{
    display: inline-block;
  }
  .draggable_action .sx-btn i.xi-angle-up,
  .draggable_action .sx-btn i.xi-angle-down{
    display: none;
  }
  .draggable_action .sx-btn:first-child{
    margin-right: 0;
    margin-bottom: 5px;
  }
  .draggable_action .sx-btn:not(:first-child){
    margin-top: 5px;
    margin-left: 0;
  }
}