.container-fluid {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.sx-container{
  height: 100%;
}
.sx-content{
  position:relative;
  min-height: 300px;
  margin:0;
}

/* Visual */
.swiper-container-visual{
  height: 100%;
}
.swiper-container-visual {
  height:330px;
  background-color:#f3f3f3;
}
.swiper-container-visual .swiper-slide {
  overflow:hidden;
  display: relative;
}
.img_panel .title_panel .title,
.swiper-container-visual .swiper-slide .title{
  position: absolute;
  top:40%;
  padding-left:30px;
  width:100%;
  color:#3e3e3e;
  font-size: 2.5em;
  font-weight: 600;
}
.img_panel .title_panel .title small,
.swiper-container-visual .swiper-slide .title small{
  position: absolute;
  top: 45px;
  left:32px;
  font-size: 0.45em;
  font-weight: 300;
  letter-spacing: -0.04em;
}
.swiper-container-visual .swiper-slide img{
  height: 100%;
}
.swiper-container-visual .slide_banner2 img{
  position: absolute;
  right:0;
}
.swiper-container-visual .slide_banner3 img{
  position: absolute;
  right:0;
}
.swiper-container-visual .slide_banner1 .title{
  top:40%;
}
.swiper-container-visual .slide_banner2 .title{
  top:30%;
}
.swiper-container-visual .slide_banner3 .title{
  top:15%;
}

@media only screen and (max-width: 540px) {
  .swiper-container-visual .slide_banner2 img{
    right:-30%;
  }
  .swiper-container-visual .slide_banner3 img{
    right:-20%;
  }
}

/* main content */
.sx-content-body{
  word-break:keep-all;
  height:100%;
}
.panel_home{
  overflow:hidden;
  position: relative;
}
.panel_content{
  position: relative;
}
.img_panel{
  overflow: hidden;
  position: relative;
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  background-size:cover;
}
.img_panel .title_panel .title {
  position: absolute;
  top:54%;
  left:2%;
  padding-left:0;
  text-align: center;
}
.img_panel .title_panel .title small{
  position: absolute;
  top:42px;
  left:0;
  width:100%;
  text-align: center;
}

.wrap{
  display: inline-block;
  padding:7em 2em 5.5em;
  width:100%;
}
.entry_header{
  width:100%;
}
.entry_header h1{
  margin-top:3px;
  color: #333;
  font-size:1.125em;
  font-weight: 800;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
.entry_header h2{
  color: #000;
  font-weight:300;
  letter-spacing: -0.05em;
}
.entry_content{
  margin-top:25px;
}
.entry_content a{
  font-weight: 600;
  letter-spacing: 0.14em;
}
.entry_content p{
  margin: 2em 0 1.5em;
  padding:0;
  line-height: 2em;
}
.entry_content .post .entry_header,
.entry_content .post .entry_content{
  float:none;
  width:100%;
}
.panel_userguide .post .entry_content p{
  margin: 2em 0 3.5em;
}

/*
 * Override Bootstrap's default container.
 */
@media only screen and (min-width: 768px) {

  .swiper-container-visual{
    height:448px;
  }
  .swiper-container-visual img{
    position: relative;
    right:0;
    height: 100%;
  }
  .swiper-container-visual .title{
    left:45px;
    font-size: 3em;
  }
  .swiper-container-visual .title small{
    top: 50px;
    font-weight: 300;
  }

  .wrap{
    padding:7em 3em 5.5em;
  }
  .entry_header{
    float: left;
    width:36%;
  }
  .entry_content{
    float: right;
    margin-top:0;
    width:58%;
  }  
  
  .img_panel{
    overflow: visible;
    height: 100vh;    
    background-attachment: fixed;    
  }
  .img_panel .title_panel{
    position: absolute;
    display: inline-block;
    top:0;
    width:100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
  }
  .img_panel .title_panel .title {
    position: fixed;
    display: inline-block;
    top:60%;
    font-size: 3em;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    -webkit-transform: scale(25);
    -o-transform: scale(25);
    transform: scale(25);

    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opactity=0)";
    filter: "alpha(opacity=0)";
  }
  .img_panel .title_panel .title small{
    top: 55px;   
  }
  .swiper-container-visual .slide_banner2 .title{
    top:20%;
  }
  .swiper-container-visual .slide_banner3 .title{
    top:65%;
  }
}
@media only screen and (min-width: 1200px) {
  .container-fluid {
    width: 970px;
  }
}