.sx-container{
  height: 100%;
}
.sx-contents{
  position:relative;
  min-height: 300px;
}

/* main content */
.starter_title{
  text-align: center;
}
.starter_template {
    padding: 40px 15px;
    text-align: center;
}
.sx-contents-body{
  word-break:keep-all;
  padding:10px;height:100%;
}
.sx-about-us h1,
.sx-user-guide h1{
  padding:45px 0 30px 0;
  color:#dda050;
  font-size:1.250em;
}
.sx-user-guide h2{
  padding-left:80px;
  font-size:1.4375em;
}

.sx-about-us p.title,
.sx-user-guide p.title{
  font-size:2.000em;
  font-weight:bold;
}
.sx-about-us p.comment{
  padding-top:25px;
  font-size:1.0625em;
  line-height:1.687em;
  color:#6e6e6e;
}
.sx-user-guide{
  padding-top:35px;
}
.sx-user-guide ul{
  padding-top:55px;
}
.sx-user-guide ul li{
  padding-right:15px;
  width:100%;
}
.sx-user-guide ul li p{
  padding:20px 0 45px 80px;
  font-size:1.0625em;
  line-height:1.687em;
  color:#6e6e6e;
}
.sx-user-guide ul li p > a{
  color:#333333;
  text-decoration-line: underline;
}
.sx-user-guide ul li p > a:hover{
  color:#000;
}

.sx-user-guide ul li > a{
  float:left;
  padding-top:10px;
  width:50px;
  height:50px;
  text-align:center;
  color: #e3e3e3;
  background-color:#5e5e5e;
  -webkit-border-radius: 3em;
      -moz-border-radius: 3em;
           -o-border-radius: 3em;
                border-radius: 3em;
}
.sx-user-guide ul li > a:hover{
  color:#000;
  background-color:#cda25a;
}

/* Bootstrap start */
.container-fluid {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

/* Globals */
.blog-title,
.starter_title,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/* Blog name and description */
.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.starter_title,
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/* Main column and sidebar layout */
.starter_template,
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/* Blog posts */
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/* Footer */
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Override Bootstrap's default container.
 */
@media only screen and (min-width: 768px) {
  .swiper-container-visual{
    height:448px;
  }
  .sx-user-guide ul li{
    float: left;
    width:50%;
  }
  .sx-user-guide ul li:nth-child(3){
    clear:both;
  }
  .sx-user-guide ul li:nth-child(5){
    clear:both;
  }
}
@media only screen and (min-width: 1200px) {
  .container-fluid {
    width: 970px;
  }
}