#generated directory
files/
node_modules/
node_modules/templates_c/
node_modules/layout/
node_modules/mail/

#config files
config.admin.php
config.db.php
config.table.php

#test files
*.backup
*.back
rmdir.php
