#generated directory
files/
templates_c/

#project manager
node_modules/

#config files
config.admin.php
config.db.php
config.table.php

#backup files and directories
*.backup
*.back
_backup/

#test controll files
remove.php
uninstall.php

#other option and settings files
.sublime-grunt.cache
sftp-config.json