<!DOCTYPE>
<html>
<head>
<title>STREAMUX.COM</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="margin: 0 0;">
  <div style="postion:relative;text-align: left;font-size: 16px;word-break: keep-all;">
    <div style="position:relative;top:92px;z-index:-1;width:100%;border-bottom:2px solid #ddd;"></div>
    <div style="margin:0 auto;width:70%;height:90px;border-bottom:2px solid #CC372B;background-color: transparent">
       <h1 style="margin:0 0;padding: 20px 0;"><a href="http://streamux.com/"><img src="{$mail_logo}" style="margin:0 0;padding:0 0;width:100px; vertical-align:middle;" alt="logo" title="logo"></a></h1>
    </div>

    <div style="margin:0 auto;padding:25px 0 35px 0;width:70%">
      <h2>회원가입 안내</h2>

      <p style="margin-top:25px;line-height:1.8em">
        안녕하세요. '{$user_name}'님<br>
        사용자 친화적 반응형 웹을 선도하는 스트림유엑스입니다.
      </p>
      <p style="margin-top:25px">
        '{$user_name}'님의 스트림유엑스 가입을 환영합니다.
      </p>
      <p style="margin-top:55px;font-size:1.2em;line-height:1em;">
        <strong>가입정보</strong>
      </p>
      <ul style="padding:10px 20px;border-top:1px solid #e3e3e3;border-right:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;border-left:3px solid #D8ADAE;sfont-size:1.2em;line-height:1.8em;list-style:none;">
        <li><span style="display:inline-block;width:120px">가입 일시</span><span>{$join_date}</span></li>
        <li><span style="display:inline-block;width:120px;letter-spacing:9px">아이디</span><span>{$user_id}</span></li>
        <li><span style="display:inline-block;width:120px;letter-spacing:31px">이름</span><span>{$user_name}</span></li>
        <li><span style="display:inline-block;width:120px;letter-spacing:3px">E-mail</span><span>{$email_address}</span></li>
      </ul> 
      <p style="font-size:0.75em">
        참고 : 가입정보는 아이디 또는 비밀번호 찾기에 필요한 정보입니다.
      </p>
      <p style="margin-top:55px;line-height:1.8em">
        스트림유엑스를 이용해 주셔서 감사합니다.<br>
        더욱 편리한 서비스를 제공하기 위해 항상 최선을 다하겠습니다.
      </p>   
    </div>    
    <div style="margin:0 auto;padding-top:15px;width:70%;border-top:1px solid #ddd;font-size: 0.6875em;">
      <p style="line-height: 1.8em;">
        <a href="http://streamux.com/download" style="color:#3e3e3e;text-decoration:none;">다운로드</a> | 
        <a href="http://streamux.com/release" style="color:#3e3e3e;text-decoration:none;">Release Note</a> | 
        <a href="http://streamux.com/bugreport" style="color:#3e3e3e;text-decoration:none;">버그 신고</a> | 
        <a href="http://streamux.com/notice" style="color:#3e3e3e;text-decoration:none;">공지사항</a>
      </p>
      <p style="margin-top: 55px;margin-bottom:50px;color:#3e3e3e;line-height: 1.8em;">
        본 메일은 발신전용이며, 메시지는 STREAMUX.COM이 생성하고 배포했습니다<br>
        Copyright ⓒ STREAUX.COM. All Rights Reserved.
      </p>
    </div>    
  </div>
</body>
</html>
