<!DOCTYPE>
<html>
<head>
<title>STREAMUX.COM</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="margin: 0 0;">
  <div style="postion:relative;text-align: center;font-size: 16px;word-break: keep-all;">
    <div style="position:relative;top:92px;z-index:-1;width:100%;border-bottom:2px solid #ddd"></div>
    <div style="margin:0 auto;width:70%;height:90px;border-bottom:2px solid #CC372B;background-color: transparent;">
       <h1 style="margin:0 0;padding: 20px 0;"><a href="http://streamux.com/"><img src="{$mail_logo}" style="margin:0 0;padding:0 0;width:100px; vertical-align:middle;" alt="logo" title="logo"></a></h1>
    </div>

    <div style="margin:0 auto;padding:25px 0 35px 0;width:70%">
      <h2>비밀번호 안내</h2>

      <p style="line-height: 1.8em;">
        '{$user_name}' <span style="font-size: 0.875em;">님의 임시발급 </span>비밀번호<span style="font-size: 0.875em;">입니다.</span>
      </p>
      <div style="margin: 25px auto;padding: 15px 15px;width:350px;color: #fff;background-color: #CC372B;text-align-last: center;">
        <input type="text" id="tempPassword" value="{$temp_password}" style="width:100%;background-color: #CC372B;font-size: 1em;color:#fff;border:0;outline:0" >
      </div>
      <p style="line-height: 1.8em;">
        <span style="font-size: 0.875em;">
          임시발급 비밀번호 이용 후 새로운 비밀번호로 변경하세요.<br>
          본 메일 확인 후 삭제하세요.
        </span>
      </p>
    </div>
    <div style="margin:0 auto;padding-top:15px;width:70%;border-top:1px solid #ddd;font-size: 0.6875em;">
      <p style="line-height: 1.8em;">
        <a href="http://streamux.com/download" style="color:#3e3e3e;text-decoration:none;">다운로드</a> | 
        <a href="http://streamux.com/release" style="color:#3e3e3e;text-decoration:none;">Release Note</a> | 
        <a href="http://streamux.com/bugreport" style="color:#3e3e3e;text-decoration:none;">버그 신고</a> | 
        <a href="http://streamux.com/notice" style="color:#3e3e3e;text-decoration:none;">공지사항</a>
      </p>
      <p style="margin-top: 55px;color:#3e3e3e;line-height: 1.8em;">
        본 메일은 발신전용이며, 메시지는 STREAMUX.COM이 생성하고 배포했습니다<br>
        Copyright ⓒ STREAUX.COM. All Rights Reserved.
      </p>
    </div>    
  </div>
</body>
</html>
