/* articles */
.container .articles {margin-top:10px;padding:35px 7px 20px 7px;background-color:#fcfcfc;font-size: 0.750em}

/* common font-size */
.container .articles .box table tr td input{font-size: 1em}
.container .articles .box table tbody tr td .warn-msg{display:block;padding-left:5px;text-align: left;color:#FF0000;font-size:1em}

.container .articles .tt{text-align: left}
.container .articles .tt .imgbox{display:inline-block;padding:4px 24px 0 24px;height:24px;background:url('../images/tt_box4_01.gif') 0 0 no-repeat,url('../images/tt_box4_03.gif') 100% 0 no-repeat,url('../images/tt_box4_02.gif') 0 0 repeat-x;text-align:center;font-size: 1.1875em;font-weight:bold}

/* list */
.container .articles .list .box{clear:both;margin-bottom:20px;padding-bottom:3px;width:100%;border:2px solid #d6d7d6;background-color:#FFFFFF}
.container .articles .list .box ul{overflow:hidden;margin-top:30px;margin-bottom:10px;width:100%}
.container .articles .list .box ul li{padding-left:5px;text-align: left}
.container .articles .list .box table{width: 100%}
.container .articles .list .box table thead {border:2px solid #FFFFFF;border-top: 1px solid #d6d7d6;border-bottom: 1px solid #d6d7d6;background-color:#f6f6f6}
.container .articles .list .box table thead tr th{height: 29px;line-height: 29px;background:url('../images/verti_line.gif') 100% 50% no-repeat;text-align: center}
.container .articles .list .box table thead tr th:last-child{background:none}
.container .articles .list .box tbody {text-align: center}
.container .articles .list .box table tbody tr{border-bottom: 1px dotted #d6d7d6}
.container .articles .list .box table tbody tr:last-child{border-bottom: none}
.container .articles .list .box table tbody tr td{overflow:hidden;padding-left:5px;height: 27px;line-height: 27px;text-align:center}
.container .articles .list .box table tbody tr td:nth-child(2){text-align:left}
.container .articles .list .box table tbody tr td img{display:block;margin:0 auto}
.container .articles .list .box table tbody tr td img{display:block;margin:0 auto}


/* add, edit */
.container .articles .add .tt {position: relative}
.container .articles .add .tt .imgbox .g-imgbox-left{float:left;width:24px;height:24px;background:url('../images/tt_box2_01.gif') 0 0 no-repeat}
.container .articles .add .tt .imgbox .g-imgbox-center{float:left;padding-top:4px;height:24px;background:url('../images/tt_box2_02.gif') 0 0 repeat-x}
.container .articles .add .tt .imgbox .g-imgbox-right{float:left;width:24px;height:24px;background:url('../images/tt_box2_03.gif') 0 0 no-repeat}

.container .articles .add .box{clear:both;margin-bottom:20px;padding-bottom:20px;width:100%;border:2px solid #d6d7d6;background-color:#FFFFFF}
.container .articles .add .box dl{overflow:hidden;margin-top:25px;margin-bottom:10px;width:100%;text-align: left}
.container .articles .add .box dl dt{padding-left:5px;height: 20;font-weight: bold}
.container .articles .add .box dl dd{padding-left:5px;height: 20px}
.container .articles .add .box table{margin-bottom:20px;width:100%;text-align:left}
.container .articles .add .box table tr td{height: 24px}
.container .articles .add .box table tr td:nth-child(1){padding-left:38px;width:120px}
.container .articles .add .box table tr td:nth-child(1) span{color:#FF0000}
.container .articles .add .box table tr td:nth-child(2) span{display:inline-block}

/* del */
.container .articles .del .tt {position: relative}
.container .articles .del .tt .imgbox .g-imgbox-left{float:left;width:24px;height:24px;background:url('../images/tt_box2_01.gif') 0 0 no-repeat}
.container .articles .del .tt .imgbox .g-imgbox-center{float:left;padding-top:4px;height:24px;background:url('../images/tt_box2_02.gif') 0 0 repeat-x}
.container .articles .del .tt .imgbox .g-imgbox-right{float:left;width:24px;height:24px;background:url('../images/tt_box2_03.gif') 0 0 no-repeat}

.container .articles .del .box{clear:both;margin-bottom:20px;padding-top:30px;padding-bottom:30px;width:100%;border:2px solid #d6d7d6;text-align: left}
.container .articles .del .box ul li{height: 24px}
.container .articles .del .box ul li .icon{margin-left: 20px}
.container .articles .del .box ul li .title1{color:#FF0000}
.container .articles .del .box ul li .title2{margin-left: 20px}
.container .articles .del .box ul li a span{font-weight: bold}

