
/* layout */
.wrap {position: relative}
.header {position:relative;z-index:1000;margin:0 auto;width:100%;border: 0 solid #FF0000;text-align: center;}
.container {position:relative;margin:0 auto;width:98%}
.footer{margin-top:20px;height:50px;text-align: center}

/* header */
.header .util{height: 20px;border: 0 solid #FF0000}
/* gnb_icon */
.header .gnb-icon{overflow:hidden;position:relative;background:url("../images/gnb_icon_bg.png") 0 0 repeat-x}
.header .gnb-icon ul li{float:left;position:relative;height:72px}
.header .gnb-icon ul li .g-arrow{position:absolute;top:-80px;z-index:1;width:100%;height:75px;background:url("../images/gnb_icon_arrow.png") 50% 0 no-repeat,#404140}
.header .gnb-icon ul li .g-icon{position:absolute;top:0;z-index:2;width:100%;height:75px;background:url("../images/gnb_icon.png") 50% 0 no-repeat}

/* gnb */
.header .gnbCase {margin:0 0 20px 0;width:70%;height:50px}
.header .gnb {position:absolute;width:100%}
.header .gnb .mmenu {float:left;height:50px;line-height:50px;text-align:center;background-color:#4b4c4b}
.header .gnb .mmenu a {text-decoration:none}
.header .gnb .mmenu span {display:block;width:100%;height:50px;color:#FFFFFF;font-size:1.0625em}
.header .gnb .activate {background-color:#404140}
.header .gnb .activate a span {color:#FFFFFF}

.header .gnb .sub {overflow:hidden;width:100%;height:0}
.header .gnb .sub .panel {position:relative;top:0}
.header .gnb .sub .smenu {width:100%;border-bottom:1px solid #FFFFFF;text-align:left;line-height:34px;background-color:#EFEFEF}
.header .gnb .sub .smenu:last-child {border-bottom:none}
.header .gnb .sub .smenu span {display:block;padding-left:13%;height:34px;color:#333333;font-size:1em}
.header .gnb .sub .activate {background-color:#999999}
.header .gnb .sub .activate a span {color:#FFFFFF}




