
/* layout */
.sx-wrapper {position: relative}
.sx-header {position:relative;z-index:1000;text-align: center}
.sx-container {position:relative;padding: 5px 5px 5px 5px}
.sx-footer{line-height:50px;text-align: center}

/* header */
.sx-header .logo{float:none}

/* gnb */
.sx-gnb-case{clear:both;position:relative;width:100%;height:50px;border-bottom: 1px solid #e3e3e3;background-color:#333333}
.sx-gnb{overflow:hidden;position:absolute;width:100%}
.sx-gnb .sx-mmenu{float:left;line-height:50px;text-align:center}
.sx-gnb .sx-mmenu a{text-decoration:none}
.sx-gnb .sx-mmenu span{display:block;width:100%;height:50px;color:#FFFFFF;font-size:1.125em;font-weight:normal;}
.sx-gnb .activate{background-color:#3e3e3e}
.sx-gnb .activate a span{color:#FFFFFF}

.sx-gnb .sx-sub{overflow:hidden;height:0}
.sx-gnb .sx-sub .panel{position:relative;top:100px}
.sx-gnb .sx-sub .sx-smenu{width:100%;border-bottom:1px solid #FFFFFF;text-align:left;line-height:34px;background-color:#EFEFEF}
.sx-gnb .sx-sub .sx-smenu span{display:block;padding-left:13%;height:34px;color:#333333;font-size:1em}

.sx-gnb .sx-sub .activate{background-color:#999999}
.sx-gnb .sx-sub .activate a span{color:#FFFFFF}