/* visual */
.container .visual-slide{overflow:hidden;position:relative;height:200px;background-color: #eaeaea;text-align: center}
.container .visual-slide .indicator{position: absolute;left:50%;bottom:10px;z-index:105;margin-left: -30%;width:60%;text-align:center;list-style:none}
.container .visual-slide .indicator li{display:inline-block;margin:1px;width:10px;height:10px;border: 1px solid #FFFFFF;border-radius: 10px;cursor:pointer}
.container .visual-slide .indicator .active{margin:0;width:12px;height:12px;background-color: #FFFFFF}

.container .visual-slide .inner{position: relative;width: 100%}
.container .visual-slide .inner .item{display:block;position: absolute;width:100%;height: 200px;border: 0 solid #FF0000;background-color: #0000FF}
.container .visual-slide .inner .item:nth-child(1){left:0;background-color: #2e75a5}
.container .visual-slide .inner .item:nth-child(2){left:100%;background-color: #893f53}
.container .visual-slide .inner .item:nth-child(3){left:-100%;background-color: #80489a}
.container .visual-slide .inner .item .tt{display:block;padding-top:55px;font-size: 2.5em;color: #FFFFFF}
.container .visual-slide .inner .item .stt{display:block;padding-top:3px;font-size: 0.875em;color:#FFFFFF;letter-spacing: 0.5em}

.container .articles {margin-top:10px;padding:35px 15px 20px 15px;background-color:#fcfcfc}

/* container common */
.container .articles{font-size:0.750em}
.container .articles .tt span{font-size: 1.1875em;font-weight: bold}
.container .articles .g-graph span{font-size: 0.125em}
.container .articles  table tbody tr td:last-child span{font-size: 0.125em}

.container .articles .tt{text-align: left}
.container .articles .tt .imgbox{display:inline-block;padding:4px 24px 0 24px;height:24px;background:url('../images/tt_box_01.gif') 0 0 no-repeat,url('../images/tt_box_03.gif') 100% 0 no-repeat,url('../images/tt_box_02.gif') 0 0 repeat-x;text-align:center}

/* connect */
.container .articles .connect .box {overflow:hidden;width:100%;color: #000000; border:2px solid #b3bed0;text-align: left}
.container .articles .connect .box table{float:left;width:50%;border:2px solid #FFFFFF;text-align: center;}

.container .articles .connect .box table thead tr th{height:30px;background-color: #bec7d6;}
.container .articles .connect .box table tbody tr td{position:relative;height:30px;line-height:30px;border-bottom: 1px dotted #e7eaf1}
.container .articles .connect .box table tbody tr td:first-child{background-color: #e7eaf1}
.container .articles .connect .box table tbody tr td:nth-child(2){padding-right:5px;text-align: right}
.container .articles .connect .box table tbody tr:last-child td{border-bottom:none}
.container .articles .connect .box .g-graph{position:absolute;top:50%;margin-top:-5px;width:10px;height:10px;background:url("../images/stick.jpg") 0 0 no-repeat,#eea335;text-align: right}
.container .articles .connect .box.g-graph span{position:absolute;top:-1px;color:#3e3e3e}

/* page hit, analysis */
.container .articles .ui-tab-view{clear:both;overflow:hidden;margin-top:20px}
.container .articles .ui-tab-view .tab-header .tt{float:left;width:50%;text-align: left;cursor:pointer}
.container .articles .ui-tab-view .tab-header .tt .imgbox-true{padding:4px;height:25px;background:url('../images/tt_box2_01.gif') 0 0 no-repeat,url('../images/tt_box2_03.gif') 100% 0 no-repeat,url('../images/tt_box2_02.gif') 0 0 repeat;text-align:center}
.container .articles .ui-tab-view .tab-header .tt .imgbox-false{padding-top:4px;height:25px;background:url('../images/tt_box3_01.gif') 0 0 no-repeat,url('../images/tt_box3_03.gif') 100% 0 no-repeat,url('../images/tt_box3_02.gif') 0 0 repeat;text-align:center}

.container .articles .ui-tab-view .activate-true{display:block}
.container .articles .ui-tab-view .activate-false{display:none}
.container .articles .ui-tab-view .pageview {clear:both;overflow:hidden;padding-bottom:3px;width:100%;border:1px solid #828382;border-top:none}
.container .articles .ui-tab-view .analysis {clear:both;overflow:hidden;padding-bottom:3px;width:100%;border:1px solid #828382;border-top:none}

.container .articles .ui-tab-view  table{width: 100%}
.container .articles .ui-tab-view  table thead{border:2px solid #FFFFFF;border-bottom: 1px solid #d6d7d6;background-color:#f6f6f6}
.container .articles .ui-tab-view  table thead tr th{height: 29px;line-height: 29px;background:url('../images/verti_line.gif') 100% 50% no-repeat}
.container .articles .ui-tab-view  table thead tr th:last-child{background:none}
.container .articles .ui-tab-view  tbody .p-no{text-align: center}
.container .articles .ui-tab-view  tbody .p-name{text-align: center}
.container .articles .ui-tab-view  tbody .p-pageview{text-align: center}
.container .articles .ui-tab-view  tbody .p-graph{padding-left:5px;text-align: left}
.container .articles .ui-tab-view  table tbody tr{border-bottom: 1px dotted #d6d7d6}
.container .articles .ui-tab-view  table tbody tr:last-child{border-bottom: 1px solid #d6d7d6}
.container .articles .ui-tab-view  table tbody tr td{position:relative;height: 27px;line-height: 27px}
.container .articles .ui-tab-view  table tbody tr td:last-child .g-graph{width:0;height:10px;background:url("../images/stick.jpg") 0 50% no-repeat,#eea335;text-align: right}
.container .articles .ui-tab-view  table tbody tr td:last-child span{position:absolute;top:0;margin-left:5px;color:#3e3e3e;text-align:right}
.container .articles .ui-tab-view  table tbody tr td .warn-msg{display:block;padding-left:5px;text-align: left;color:#FF0000}

/* config state */
.container .articles .config{margin-top: 20px}
.container .articles .config .box{overflow:hidden;clear:both;margin-bottom:10px;padding: 10px 0 10px 0;width:100%;border:2px solid #d6d7d6}

.container .articles .config table{width:100%}
.container .articles .config table tbody tr td{height:26px;text-align: right}
.container .articles .config .view-type-textfield{padding-right:5px}
.container .articles .config .box .icon-activate{background:url("../images/light_on.gif") 0 50% no-repeat}
.container .articles .config .box .icon-inactivate{background:url("../images/light_off.gif") 0 50% no-repeat}

/* navi */
.ui-navi-show{display:inline-block}
.ui-navi-hide{display:none}
.ui-navi{overflow:hidden;margin:0 auto;margin-top:10px;margin-bottom:5px}
.ui-navi .ui-navi-prev,.ui-navi .ui-navi-next,.ui-navi .ui-navi-list{float:left;padding:0 5px 0 5px}
.ui-navi ol li{float:left;padding:0 2px 0 2px}
.ui-navi ol li a span{display:inline-block;min-width: 16px;height:20px}
.ui-navi .activate{color:#FF0000}

