@charset "utf-8";

/* streamux.com */

/* Reset */
html, body {width:100%;height:100%}
html {overflow:scroll}
body,h1,h2,h3,h4,h5,button {margin:0;padding:0;font-family:Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px;color:#383d41}
div,dl,dt,dd,ul,ol,li,table,thead,tbody,tr,td,th,form,fieldset,p{margin:0;padding:0}
input{font-family:Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;color:#383d41}
body {background-color:#FFF;text-align:center;word-break:break-all}
table,input,textarea{font-size:1em}

img,fieldset,iframe {border:0 none}
li {list-style:none}
input,select,button {vertical-align:middle}
img {vertical-align:top}
i,em,address {font-style:normal}
label,button {cursor:pointer}
button {margin:0;padding:0}
a {color:#222;text-decoration:none}
a:hover {color:#390;text-decoration:underline}
button {position:relative}
button img {left:-3px;left:auto}
html:first-child select {height:20px;padding-right:6px}
option {padding-right:6px}
hr {display:none}
legend {width:0}
table{border-collapse:collapse;border-spacing:0}
input::-ms-clear {display:none}

*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}

/* common */
.show{display: block}
.hide{display: none}
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
.warn-msg{display:block;padding-left:5px;text-align: left;color:#FF0000}

.ui-edgebox{background:url('../images/edgebox1.png') 0 0 no-repeat,url('../images/edgebox2.png') 100% 0 no-repeat,url('../images/edgebox3.png') 100% 100% no-repeat,url('../images/edgebox4.png') 0 100% no-repeat,url('../images/edgebox_top.png') 0 0 repeat-x,url('../images/edgebox_right.png') 100% 0 repeat-y,url('../images/edgebox_bottom.png') 0 100% repeat-x,url('../images/edgebox_left.png') 0 0 repeat-y}

.ui-edgebox-2px{background: url('../images/edgebox_line2px_tl.png') no-repeat 0 0, url('../images/edgebox_line2px_tr.png') no-repeat 100% 0,url('../images/edgebox_line2px_bl.png') no-repeat 0 100%,url('../images/edgebox_line2px_br.png') no-repeat 100% 100%,url('../images/edgebox_line2px.png') 0 0 repeat-x,url('../images/edgebox_line2px.png') 100% 0 repeat-y,url('../images/edgebox_line2px.png') 0 100% repeat-x,url('../images/edgebox_line2px.png') 0 0 repeat-y
}

/* layout */
.wrap {position: relative}
.header {position:relative;z-index:1000;margin:0 auto;width:100%;border: 0 solid #FF0000}
.container {clear:both;position:relative;margin:0 auto;width:98%}
.footer{margin-top:20px;height:50px;text-align: center}

/* header */
.header .util{height: 20px;border: 0 solid #FF0000}

/* gnb_icon */
.header .gnb-icon{overflow:hidden;position:relative;background:url("../images/gnb_icon_bg.png") 0 0 repeat-x}
.header .gnb-icon ul li{float:left;position:relative;height:72px}
.header .gnb-icon ul li .g-arrow{position:absolute;top:-80px;z-index:1;width:100%;height:75px;background:url("../images/gnb_icon_arrow.png") 50% 0 no-repeat,#404140}
.header .gnb-icon ul li .g-icon{position:absolute;top:0;z-index:2;width:100%;height:75px;background:url("../images/gnb_icon.png") 50% 0 no-repeat}

/* gnb */
.header .gnbCase {margin:0 0 20px 0;width:70%;height:50px}
.header .gnb {position:absolute;width:100%}
.header .gnb .mmenu {float:left;height:50px;line-height:50px;text-align:center;background-color:#4b4c4b}
.header .gnb .mmenu a {text-decoration:none}
.header .gnb .mmenu span {display:block;width:100%;height:50px;color:#FFFFFF;font-size:1.0625em}
.header .gnb .activate {background-color:#404140}
.header .gnb .activate a span {color:#FFFFFF}

.header .gnb .sub {overflow:hidden;width:100%;height:0}
.header .gnb .sub .panel {position:relative;top:0}
.header .gnb .sub .smenu {width:100%;border-bottom:1px solid #FFFFFF;text-align:left;line-height:34px;background-color:#EFEFEF}
.header .gnb .sub .smenu:last-child {border-bottom:none}
.header .gnb .sub .smenu span {display:block;padding-left:13%;height:34px;color:#333333;font-size:1em}
.header .gnb .sub .activate {background-color:#999999}
.header .gnb .sub .activate a span {color:#FFFFFF}




