
/* layout */
.container{padding:0 5px 0 5px;}
.footer{margin-top:20px;height:50px;text-align: center}
.header .util{height: 20px;border: 0 solid #FF0000}

/* articles */
.articles {margin-top:5px;padding:35px 7px 20px 7px;background-color:#fcfcfc}
.articles .tt{text-align: left}
.articles .tt .imgbox{display:inline-block;padding:4px 24px 0 24px;height:24px;background:url('../../../admin/tpl/images/tt_box4_01.gif') 0 0 no-repeat,url('../../../admin/tpl/images/tt_box4_03.gif') 100% 0 no-repeat,url('../../../admin/tpl/images/tt_box4_02.gif') 0 0 repeat-x;text-align:center}
.articles .tt .imgbox h1{font-size: 1.1875em;font-weight:bold}

/* list */
.articles .list .box{margin-bottom:20px;padding-bottom:3px;width:100%;border:2px solid #d6d7d6;background-color:#FFFFFF}
.articles .list .box dl{overflow:hidden;margin-top:30px;margin-bottom:10px;width:100%;word-break:keep-all}
.articles .list .box dl dt{float:left;text-align: left}
.articles .list .box dl dt:nth-child(1){padding-left:5px}
.articles .list .box dl dt:nth-child(2){padding-left:8px;text-align: left}
.articles .list .box dl dd{clear:both;display:block;padding:5px 5px 0 0;text-align: right;font-weight: bold}
.articles .list .box table{width: 100%;}
.articles .list .box table thead {border:2px solid #FFFFFF;border-top: 1px solid #d6d7d6;border-bottom: 1px solid #d6d7d6;background-color:#f6f6f6}
.articles .list .box table thead tr th{height: 29px;line-height: 29px;background:url('../images/verti_line.gif') 100% 50% no-repeat;text-align: center}
.articles .list .box table thead tr th:last-child{background:none}
.articles .list .box tbody {text-align: center}
.articles .list .box table tbody tr{border-bottom: 1px dotted #d6d7d6}
.articles .list .box table tbody tr:last-child{border-bottom: none}
.articles .list .box table tbody tr td{overflow:hidden;padding-left:5px;height: 27px;line-height: 27px;text-align:center}
.articles .list .box table tbody tr td:nth-child(2){text-align:left}
.articles .list .box table tbody tr td img{display:block;margin:0 auto}
.articles .list .box table tbody tr td .warn-msg{display:block;padding-left:5px;text-align: left;color:#FF0000}

/* member join, modify */
.articles .member-edit .box{margin-bottom:20px;padding-bottom:20px;width:100%;border:2px solid #d6d7d6;background-color:#FFFFFF;text-align: center}
.articles .member-edit .box dl{overflow:hidden;margin-top:25px;margin-bottom:10px;width:100%;text-align: left}
.articles .member-edit .box dl dt{padding-left:5px;height: 20px;font-weight: bold}
.articles .member-edit .box dl dd{padding-left:5px;height: 20px}
.articles .member-edit .box table{margin-bottom:20px;;width:100%;text-align:left}
.articles .member-edit .box table tr td{height: 24px}
.articles .member-edit .box table tr td:nth-child(1){padding-left:38px;width:120px}
.articles .member-edit .box table tr td:nth-child(1) span{color:#FF0000}
.articles .member-edit .box table tr td:nth-child(2) span{display:inline-block}




