
/* articles in member of document*/
.sx_member {
  margin-top:5px;
  padding:35px 15px 35px 15px;
}

/* list */
.sx_member .icon_notice {
  width: 30px;
  height:13px;
  vertical-align: middle;
}
.sx_member .text_notice {
  padding-top: 5px;
  padding-bottom: 25px;
}
.sx_member .form_label_width {
  padding-right: 15px;
}
.sx_member .submit_top_margin {
  padding-top:15px;
}
.sx_member .btn_space {
  margin-right:10px;
}
.sx_member .panel_newpassword {
  display:none;
}

@media (min-width: 768px) {
  .sx_member .form_label_width {
    width:150px;
  }
}