/* home contents */
.sx-content .table{
  width:100%;
}
.sx-content section{
  margin-bottom: 35px;
}
.sx-content .connecter{
  display: inline-block;
  clear:both;
  width:100%;  
}
.sx-content .connecter > li{
  margin: 5px 0;
}
.sx-content .connecter > li .view-type-textfield, d
.sx-content .connecter > li .sx-label{ 
  display: inline-block;
  padding:5px 15px;
  font-size: 0.875em;
  line-height:20px;
  font-weight: normal; 
}
.sx-content .sx-service-config ul{
  overflow:hidden;
  width:100%;
  clear: both;
}
.sx-content .sx-service-config ul li{
  float: left;
  padding: 10px;
  width:50%;
}
.sx-content .sx-service-config ul li a{
  color:#6e6e6e;
  text-decoration: none;
}
.sx-content .sx-service-config ul li a:hover{
  color:#2467BF;
}
.sx-content .sx-service-config ul li .xi_icon{
  position: relative;
  top:-2px;
  font-size: 2em; 
  vertical-align: middle;
  color: #6e6e6e;
}

.sx-content .table > thead > tr > th {
  padding: 8px 5px;
  background-color: #e3e3e3;
  text-align: center;
}
.sx-content .table > thead > tr > th.sx_no{
  width:60px;
}
.sx-content .table > thead > tr > th.sx_name,
.sx-content .table > thead > tr > th.sx_date,
.sx-content .table > thead > tr > th.sx_hit{
  width: 120px;
}
.sx-content .table > tbody > tr > td{
  padding: 12px 5px;
  text-align: center;
  border-top:0;
  border-bottom: 1px dashed #e3e3e3;
}
.sx-content .table > tbody > tr:hover {
  background-color: #f9f9f9;
}

/* event_news */
.event_news .article{
  padding:15px 15px;
}
.event_news .event_news_list .news {
  margin-left: 20px;
  padding: 5px 0;
  line-height: 26px;
  list-style:disc;
}
.event_news .event_news_list .loading_msg,
.event_news .event_news_list .sx-text-warning {
  padding: 5px 0px;
  line-height: 26px;
  text-align: center;
  list-style: none;
}

@media (min-width: 768px) {
  /* contents */
  .sx-content{
    position: relative;
  }
  .sx-content .connecter > li{
    float: left;
    margin: 0 0;
  }
  .sx-content .connecter > li .view-type-textfield{
    min-width: 100px;
  }
  .sx-content .content_container1,
  .sx-content .content_container2{
    float: left;
    width:50%;
  }
  .sx-content .content_container1{
    padding-right: 5px;
  }
  .sx-content .content_container2{
    padding-left: 5px;
  }
  .sx-content .content_container2{
    /*clear:both;*/
  }
  .sx-content .connect{
    width:100%;
  }
}