
/* list & search*/
.board-list table{border-collapse:collapse;border-spacing: 0;width:100%;}
.board-list table thead th{height:35px;border-top: 2px solid #CE0000;border-bottom: 1px solid #e8eef1;text-align:center;}
.board-list .author{width:90px}
.board-list .date{width:100px;}
.board-list .hit{width:70px;}
.board-list table tbody .author{padding-left:10px;text-align: left}
.board-list table tbody .subject{padding-left:10px;text-align: left}
.board-list table tbody .hit{text-align: center;}
.board-list table tbody tr td{padding:5px 0 5px 0;text-align: center;height:30px;line-height: 17px;vertical-align: middle}
.board-list table tbody tr td span{position:relative;top:1px}
.board-list table tbody tr td img{vertical-align: middle;}
.board-list table tbody tr:last-child {border-bottom: 1px solid #D6D7D6}
.board-list .navi{margin-top:10px;text-align: center;}
.board-list .search{margin-top:20px}
.board-list .search input[name=search]{width:120px}
.board-list .buttons{float:right;margin-top:20px;width:118px;clear:both}
.board-list .warn-subject{padding-left:10px;text-align: left}

/* read */
.board-read{border-top:2px solid #CE0000}
.board-read .panel-heading{margin:0 auto;padding:15px 0 15px 10px;width:98%}
.board-read .panel-heading h1{margin-bottom:5px;font-size: 1.6250em;line-height:26px}
.board-read .panel-heading p{line-height: 20px;font-size: 0.9375em;color:#aeaeae}
.board-read .panel-body{margin:0 auto;padding: 10px 0 20px 10px;width:98%;min-height:100px;border:1px solid #ececec;line-height: 20px}
.board-read .panel-buttons{margin: 20px 0 10px 0;text-align: right}

.board-read .board-tail{margin-top:20px;}
.board-read .board-tail .panel-list dl dt{padding-left:10px;background-color: #f6f6f6;border-bottom:1px solid #D6D7D6;line-height:45px;font-size: 1.500em}
.board-read .board-tail .panel-list dl dd{padding-left:10px;border-bottom:1px dotted #D6D7D6;line-height:40px}
.board-read .board-tail .panel-list dl dd:last-child{border-bottom:1px solid #D6D7D6;}
.board-read .board-tail .panel-list .grgcomment{margin:0 20px 0 0}
.board-read .board-tail .panel-list .date{margin-right:5px}
.board-read .board-tail .panel-write{margin-top:20px;padding-left:10px;}
.board-read .board-tail .panel-write .form-heading{line-height: 35px}
.board-read .board-tail .panel-write .form-heading span{font-size: 1.0625em}\
.board-read .board-tail .panel-write .form-comment {padding-bottom: 10px}
.board-read .board-tail .panel-write .form-comment textarea{width:99%;min-height:165px;line-height:20px}
.board-read .board-tail .panel-write .form-buttons {padding:10px 0 10px 0;text-align: right}

.board-adminsetup{margin-top:40px;padding-top:20px;border-top:1px solid #D6D7D6}
.board-adminsetup table{margin:0 auto;width:96%;background-color: #efefef}
.board-adminsetup table tr td{padding-left: 10px;line-height: 35px;border-bottom:1px dotted #D6D7D6}
.board-adminsetup table tr:last-child td{border-bottom:none}
.board-adminsetup .form-text-tip{margin:0 auto;margin-top:15px;width:96%}
.board-adminsetup .form-submit{margin:0 auto;margin-top:15px;width:96%;text-align: right}

/* write & rewrite*/
.board-write{border-top:2px solid #CE0000}
.board-write .ui-label-width{width:20%}
.board-write .panel-heading{margin:0 auto;margin-top:20px;width:98%}
.board-write .panel-heading span{display:inline-block;height:22px}
.board-write .panel-heading input{width:80%}
.board-write .panel-body{margin:0 auto;margin-top:35px;width:98%}
.board-write .panel-body textarea{margin-top:5px;width:100%;line-height: 22px}
.board-write .panel-body span{display:inline-block;margin-top:5px}
.board-write .panel-footer{margin:0  auto;margin-top:20px;width:98%}
.board-write .panel-footer .ui-imgup{height:25px;}
.board-write .panel-footer .ui-imgup input{width:75%}
.board-write .panel-footer .ui-wallkey{margin-top:20px}
.board-write .buttons{margin-top:20px;text-align: right;}

/* reply */
.board-read .panel-body .download-align{margin-right:10px;text-align: right}


/* delpass */
.container .article-box{padding:30px 20px 20px 20px;background-color:#fcfcfc}
.container .article-box .login {word-break:keep-all}
.container .article-box .login .title{display:block;margin-top:10;font-size:2.5625em;color:#ff6600}
.container .article-box .login .subtitle{display:block;font-size:1.0625em}
.container .article-box .login .box {position: relative;margin:0 auto;margin-top:25px;padding-top:15px; padding-bottom:20px;width:300px;background-color: #FFFFFF;text-align: center}
.container .article-box .login .box .login-title {margin:0 auto;width: 92%;height:26px;border-bottom: 1px dotted #bebebe;text-align: left}
.container .article-box .login .box .login-title span{text-align: left;vertical-align: middle;}
.container .article-box .login .box .login-title img{vertical-align: middle;}
.container .article-box .login .box .login-title .link-searchinfo{line-height: 20px}
.container .article-box .login .box .login-body{margin:0 auto; width:92%;text-align: left}
.container .article-box .login .box .login-body input {width:110px;text-align: left}
.container .article-box .login .box .login-body div{display:inline-block;margin-top:20px}
.container .article-box .login .box .login-body .panel-info{width:69%;vertical-align: middle}
.container .article-box .login .box .login-body .panel-info ul li{line-height: 27px}
.container .article-box .login .box .login-body .panel-info .ui-label{display:inline-block;width:70px}
.container .article-box .login .box .login-body .panel-info .ui-value{font-weight:bold;font-size: 1.0625em}
.container .article-box .login .box .login-body .panel-btn{width:29%;vertical-align: middle;text-align: center}
.container .article-box .login .box .login-body .panel-btn .login-btn{width:61px;height:57px}
.container .article-box .login .panel-login-fail{display:none;margin:0 auto;padding-top:20px;width:300px;text-align: left;}
.container .article-box .login .panel-login-fail ul li{list-style-type: square}
.container .article-box .login .panel-login-fail ul li span{color: #de0000}
.container .article-box .login .panel-notice{margin:30px 0 30px 0;text-align:center}
.container .article-box .login .panel-notice dl{display:inline-block;padding:10px;width:43%;text-align: left;vertical-align:top}
.container .article-box .login .panel-notice dl dt{height:22px;font-weight: bold}
.container .article-box .login .panel-notice dl dd{height:22px}





