/* admin login */
.sx-header{
  margin-top:10px;
  text-align: center;
}
.admin_login {
  margin-top:10px;
}
.admin_login .header{
  text-align: center;
}
.admin_login .header h1{
  font-weight: normal;
  font-size:2.5625em;
  color:#ff6600
}
.admin_login .header .sx_subtitle{
  font-size:1.0625em;
}

.sx_contents_box {
  margin:0 auto;
  margin-top:25px;
  margin-bottom: 30px;
  padding:35px 20px 20px 20px;
  width: 356px;
}
.sx_contents_box label {
  position: relative;
  top:-3px;
  font-weight: normal;
  font-size: 1.250em;
}
.sx_contents_box .sx_login_btn{
  margin-top: 35px;
}
.sx_contents_box a.sx-btn,
.sx_contents_box input[type=button].sx-btn,
.sx_contents_box input[type=submit].sx-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.500em;
}
.sx_contents_box .sx_btn_md {
  width: 100px;
}

.sx_contents_box .sx_login_footer{
  margin-top:20px;
  text-align: center;
}
.sx_contents_box .sx_login_footer a{
  padding:8px 10px;
}
.sx_contents_box .sx_login_footer a:hover{
  color: #9e9e9e;
}
.admin_login .fail_panel {
  display: none;
  margin:0 auto;
  max-width: 356px;
  text-align: left;
  color: #ff6600;
}

.admin_login .notice_panel {
  margin:0 auto;
  padding:10px 10px 30px 10px;
  text-align: left;
  max-width: 356px;
}
.admin_login .notice_panel dl{
  display:inline-block;
}
.admin_login .notice_panel dl > dt{
  height:25px;
  font-weight: bold;
}
.admin_login .notice_panel dl > dd{
  margin-bottom: 25px;
}
.footer{
  margin-top:35px;
  padding-top:15px;
  height: 60px;
  text-align: center;
  background-color: #333;
}
.footer,
.footer a{
  font-size: 0.9375em;
  color:#c3c3c3;
}

@media(min-width: 768px) {
  .sx-btn-block {
    display: inline-block;
    width: 100%;
  }
}